@model BloodDonar.MVC.Models.Entities.Donation

@{  
    ViewData["Title"] = "Details";  
}  

<h1>Details</h1>  

<div>  
    <h4>Donation</h4>  
    <hr />  
    <dl class="row">  
        <dt class = "col-sm-2">  
            @Html.DisplayNameFor(model => model.DonationDate)  
        </dt>  
        <dd class = "col-sm-10">  
            @Html.DisplayFor(model => model.DonationDate)  
        </dd>  
        <dt class = "col-sm-2">  
            @Html.DisplayNameFor(model => model.HospitalName)  
        </dt>  
        <dd class = "col-sm-10">  
            @Html.DisplayFor(model => model.HospitalName)  
        </dd>  
        <dt class = "col-sm-2">  
            @Html.DisplayNameFor(model => model.Location)  
        </dt>  
        <dd class = "col-sm-10">  
            @Html.DisplayFor(model => model.Location)  
        </dd>  
        <dt class = "col-sm-2">  
            @Html.DisplayNameFor(model => model.BloodDonationId)  
        </dt>  
        <dd class = "col-sm-10">  
            @Html.DisplayFor(model => model.BloodDonationId)  
        </dd>  
    </dl>  
</div>  
<div>  
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |  
    <a asp-action="Index">Back to List</a>  
</div>
